
<div class="dvBody">
  <div class="dvLogo">
    <aside class="business-info">
      <img class="logo" [src]="logoUrl" alt="Doctors" />
    </aside>
  </div>

  <div class="dvInfos">
    <h2>Parabéns!</h2>
    <p>Sua anotação foi enviada com sucesso! Entre em contato com o profissional responsável por sua ficha</p>
    <br>
  </div>
<!--  <button class="p-button-outlined p-button-rounded p-button" >-->
<!--&lt;!&ndash;    <span>Receber ficha por email</span>&ndash;&gt;-->
<!--    <i class="pi pi-envelope pi-lg" style="margin: 5px"></i>-->
<!--  </button>-->
</div>
