<div class="container_form">

  <h1 class="title_contato"><i class="icon icon-file-text-o"></i> Ficha Anamnese</h1>

  <form  [formGroup]="reportForm">

    <div class="style-form-input full">
      <input type="text" name="nome" required   formControlName="medicalHistory"/>
      <label><i class="icon icon-user-1"></i>  Histórico Médico</label>
    </div>


    <div class="style-form-input">
      <input type="text" required formControlName="currentMedications"/>
      <label><i class="icon icon-mail-1"></i> Medicações atuais:</label>
    </div>


    <div class="style-form-input right">
      <input type="phone" name="phone" required formControlName = 'cardiovascularIssues'/>
      <label><i class="icon icon-info-circled"></i> Problemas Cardíacos?</label>
    </div>

    <div class="style-form-input full">
      <input type="text" name="birth" required  formControlName="diabetes"/>
      <label><i class="icon icon-calendar"></i> Diabetes</label>
    </div>


    <div class="style-form-input full">
      <select name="estado" class="dropdown select_form" required  formControlName="familyHistoryCardiovascularIssues">
        <option selected disabled class="form_select_option" value="">Problema cardíaco familiar?</option>

      </select>
    </div>

    <div class="style-form-input full">
      <select name="gender" class="dropdown select_form" required  formControlName="physicalActivity">
        <option selected disabled class="form_select_option" value="">Pratica ativade física?</option>

      </select>
    </div>


    <div class="style-form-input full">
      <input type="text" name="address" required  formControlName="smoker"/>
      <label><i class="icon icon-user-1"></i>  Fumante:</label>
    </div>


    <div class="style-form-input full">
      <input type="text" name="profession" required  formControlName="alcoholConsumption">
      <label><i class="icon icon-user-1"></i>  Consumo de alcool, 1 a 5</label>
    </div>


    <div class="style-form-input full">
      <input type="text" name="profession" required  formControlName="emergencyContactName">
      <label><i class="icon icon-user-1"></i> Nome contato de emergencia</label>
    </div>

    <div class="style-form-input full">
      <input type="text" name="profession" required  formControlName="emergencyContactName">
      <label><i class="icon icon-user-1"></i> Numero contato de emergencia</label>
    </div>

    <div class="style-form-input full">
      <input type="text" name="profession" required  formControlName="alcoholConsumption">
      <label><i class="icon icon-user-1"></i>  Consumo de alcool, 1 a 5</label>
    </div>

    <div class="style-form-input full">
      <input type="text" name="profession" required  formControlName="observations">
      <label><i class="icon icon-user-1"></i>  Observações</label>
    </div>





    <div class="style-form-input full">

      <input type="hidden" name="acao" value="enviar">
      <button class="btn-submit" >Enviar</button>

    </div>

  </form>

</div>
